<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QWeb" value="http://squadsofdeath.com/squad/bc4e94b4-41b5-11e4-9998-0659f6004fae/members"/>
    <add key="QWrath" value="http://squadsofdeath.com/squad/ef424a26-7e6e-11e6-af65-06d88e004eb9/members"/>
    <add key="QAeon" value="http://squadsofdeath.com/squad/a03028ab-e163-11e4-bf17-065780004ebd/members"/>
    <add key="QFury" value="http://squadsofdeath.com/squad/1848ae6f-6d8d-11e4-a4ff-06a2fe004ecb/members"/>
    <add key="QRage" value="http://squadsofdeath.com/squad/c8d76571-56eb-11e4-ad01-0689ec004f91/members"/>
    <add key="QChaos" value="http://squadsofdeath.com/squad/6d0ad9a3-7a99-11e4-a51f-064e54004ec8/members"/>
    <add key="QSaber" value="http://squadsofdeath.com/squad/e26f6941-fc30-11e5-a904-068726004f51/members"/>
    <add key="QSithInc" value="http://squadsofdeath.com/squad/ad0d8769-b410-11e6-8da9-06fcf8004ec1/members"/>
    <add key="QRise" value="http://squadsofdeath.com/squad/c9924f5c-b553-11e5-8c22-061672004ec9/members"/>
    <add key="QMyth" value="http://squadsofdeath.com/squad/4b43d2a2-86eb-11e4-ad33-060d10004ece/members"/>
    <add key="QNexus" value="http://squadsofdeath.com/squad/ba7c1af6-7c1d-11e6-b54e-066ba2004edb/members"/>
    <add key="QTriad" value="http://squadsofdeath.com/squad/9c208921-6e7e-11e4-832a-06d270004eb3/members"/>
    <add key="QShadow" value="http://squadsofdeath.com/squad/42af1eb4-539a-11e5-afce-067448004f68/members"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>